*{
    /* background:url(/media/background.png); 
    background-repeat:no-repeat;  */
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

#timer{
    position: absolute;
    width: 573px;
    height: 404px;
    left: 469px;
    top: 289px;

    background: #FFFDFB;
    box-shadow: 18px 20px 15px rgba(0, 0, 0, 0.15);
    border-radius: 45px;

    font-size: 100px;
    font-weight: 700;
    color: #F39C99;
    text-align: center;
    line-height: 300px;
    background-image: none;

}

#start, #stop, #reset{
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFDFB;

    height: 3rem;
    width: 10rem;
    border: none;
    background: #F5CAC3;
    border-radius: 46px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    background-image: none;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
}

#hours, #minutes, #seconds{

    color: #F39C99;
    background-image: none;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.buttons{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.socialMedia{

    display: flex;
    justify-content: center;
    align-items: center;
    

}