*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* position: relative; */
}

:root {
    --color-white: #fff;
    --color-black: #3F3327;
    --color-pink: #F5CAC3;
    --color-dark-pink: #F39C99;
    --color-green: #C8E6C9;
}

body{
    background:url(../media/background.png); 
    background-repeat:no-repeat; 
    background-size:cover;
    background-color: #f5cac3;
}

#timer{
    width: 573px;
    height: 404px;
    left: 469px;
    top: 289px;
    
    margin: auto;

    background: #FFFDFB;
    box-shadow: 18px 20px 15px rgba(0, 0, 0, 0.15);
    border-radius: 45px;

    font-size: 100px;
    font-weight: 700;
    color: #F39C99;
    text-align: center;
    line-height: 300px;
    
}

#start, #stop, #reset{
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFDFB;

    height: 3rem;
    width: 10rem;
    border: none;
    background: var(--color-pink);
    border-radius: 46px;
    box-shadow: inset 0px 0px 15px var(--color-pink);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 20px;
    margin-top: 0;

    transition: ease-out 0.3s;
}

#hours, #minutes, #seconds{

    color: #F39C99;
    background-image: none;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

#timerContainer{
 /* max-width: 10rem; */
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#start:hover,#stop:hover,#reset:hover{

    box-shadow: inset 10rem 0px 15px var(--color-dark-pink);
    border-color: var(--color-pink);
    color: var(--color-white);
}


.socialMedia{

    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#instagram, #youtube, #mail{
    
    padding: 1rem;
}

main{
    margin-top: 12rem;
    margin-bottom: 2rem;
}