*{
    background: #141110;
    font-family: 'Roboto', sans-serif;
}

.filmBox{
    width: 296px;
    height: 584px;
    left: 72px;
    top: 1029px;
    
    border: 2px solid rgba(242, 237, 237, 0.2);
    box-sizing: border-box;
    border-radius: 20px;
}
    
.moreInfo{
    
    width: 296px;
    height: 41px;
    left: 72px;
    top: 1628px;
    margin-top: 1rem;
    
    border: 2px solid rgba(242, 237, 237, 0.2);
    box-sizing: border-box;
    
    border-radius: 20px;
}

.titleName, .directorName,.category,.moreInfo {
    color: #FFFFFF;
}














